a {
	display: inline-flex;
}


.header_bar{
	width: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position:  relative;
}

#form_search {
	background-color: rgb(89,104,177);
	color:  white;
	font-weight: bold;
	font-size: 25px;
	border: none;
	width: 90%;
	height: 50px;
}

#form_search:focus {
	outline: none;
}

.header_logo {
	height: 100px;
	width: 150px;
	margin: 0 40px;
}
.div_loupe{
	margin-right: 50px;
	margin-top: 7px;
	margin-left: 10px;
}
.button_loupe{
	background-color: rgb(89,104,177);
	border: none;
	margin-left: 3px;
}
.loupe {
	height: 35px;
}

.recherche{
	width: 60%;
	border: solid;
	border-color: white;
	display: inline-flex;
	justify-content: flex-start;
	
}

.form_recherche{
	width: 100%;
}

.recherche_bar_loupe{
	width : 100%;
	display: inline-flex;
}

ul{
	
	justify-content: center;
	list-style: none;
	width: 100%;
}

.nav1{
	width: 100%;
	margin: 0px;
	background-color: rgb(64, 80, 156);

}

.listeconsole{
	display: flex;
	justify-content: center;
	overflow: hidden;
	padding: 0px;
}

.li_console{
	color: white;
	margin: 0 10px;
}

.deroulantPS{
	background-color: rgb(36, 49, 115);
	height: 0px;
	overflow: hidden;
	opacity: 1;
	position: absolute;
	margin-left: 100px;
}

.deroulantXBOX {
	background-color: rgb(36, 49, 115);
	height: 0px;
	overflow: hidden;
	opacity: 1;
	position: absolute;
	margin-left: 50px;
}

.deroulantNINTENDO {
	background-color: rgb(36, 49, 115);
	height: 0px;
	overflow: hidden;
	opacity: 1;
	position: absolute;
	margin-left: 80px;
}

.listeoption {
	display:  inline-flex;
	flex-direction: column;
}

.option{
	position: relative;
	float: left;
	margin:  0 5px;
	left :-19px;
}

.ongletPS, .ongletXBOX, .ongletNINTENDO {
	margin: 0 100px;
	font-weight: bold;
	font-size: 25px;
}

.link_console:link{
	color: white;
	text-decoration: none;
}

.link_console:visited{
	color:white;
	text-decoration: none;
}

.info_session {
	text-align: center;
	color: lightgoldenrodyellow;
}

